body{
}
.content{
display: flex;
justify-items: center;
align-items: center;
flex-direction: column;
background-color: antiquewhite;
height: 90vh;
}
input[type=text] {
padding: 10px;
border-width: 2px;
border-radius: 8px;
border-color: rgb(231, 231, 231);
width: 100%;
}
.format{
padding: 10px;
border-width: 2px;
border-radius: 8px;
border-color: rgb(231, 231, 231);
width: 100%;
}