@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
    font-family: 'Itim';
}
.content{
display: flex;
justify-items: center;
align-items: center;
flex-direction: column;
background-color: antiquewhite;
height: 97vh;
}
/* input[type=text] { 
border-radius: 8px;
width: 100%;
}*/

.format{
padding: 10px;
border-radius: 8px;
width: 100%;
border-style: none;
}
.botoes{
    display: flex;
    justify-content:space-between;

}
.botao{
padding: 10px;
border-radius: 8px;
width: 100%;
border-style: none;
transition :transform 2s;
}

.botao:hover{
    color: white;
    cursor: pointer;
    transition: color 0.25s; 
    cursor: pointer ;
}

#botaoreset {
    background-color: rgb(235, 74, 74);
    margin: 5px;
}
#botaoreset:active{
    color:rgb(134, 19, 19);
    background-color: white;
}
#botaoenviar{
    background-color: rgb(18, 214, 18);
    margin: 5px;
}
#botaoenviar:active{
    background-color: white;
    color: darkgreen;
}