.container{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verde{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: green;
    animation-name: verde;
    animation-duration: 2s;
    animation-iteration-count: infinite;
   
    animation-direction: alternate;
    transition: transform 1s;
}

.amarelo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    position: relative;
    animation-name: amarelo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
    animation-direction: alternate;
    transition: transform 1s;
}

.azul{
    display: flex;
    background-color: blue;
    position: relative;
    animation-name: azul;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
    animation-direction: alternate;
    transition: transform 1s;
}

@keyframes verde{
    from{
        border-radius: 0px;
        width:500px;
        height: 500px;

    }
    to{
        border-radius: 100%;
        width:350px;
        height: 350px;
        transform: rotate(90deg);
    }
    
}

@keyframes azul{
    from{
        border-radius: 0px;
        width:150px;
        height: 150px;

    }
    to{
        border-radius: 100%;
        width:100px;
        height: 100px;
    }
    
}

@keyframes amarelo{
    from{
        border-radius: 0px;
        width:300px;
        height: 300px;

    }
    to{
        border-radius: 15%;
        width:150px;
        height: 150px;
    }
    
        
}