* {
    box-sizing: border-box;
}
[class*="col-"]{
    float:left;
}

.col-1  {width: 8.33%;}
.col-2  {width: 16.66%;}
.col-3  {width: 25%;}
.col-4  {width: 33.33%;}
.col-5  {width: 41.66%;}
.col-6  {width: 50%;}
.col-7  {width: 58.33%;}
.col-8  {width: 66.66%;}
.col-9  {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.menu{
    color:white;
    background-color: #ff659b;
    border-style: solid;
 
    /*float: left;Alinha divs em coluna*/
}

.content{
    padding: 10px;
    background-color:#ffc2a5;
    
}

.topics{
    background-color: #00428c;
    color: white;
   
    border-style: solid;
  
}

@media only screen and (max-width:768px){
    [class*="col-"]{
        float:none;
    }
}

@media screen and (min-device-width : 320px) and (max-device-width : 420px) {
    /* celulares */

    }
    @media screen and (min-device-width : 421px) and (max-device-width : 800px) {
    /* tablets */
    }
    @media screen and (min-device-width : 1200px) {
    /* computadores */
    }
    